<h4 class="text-center my-3">Who are you subscribed with?</h4>
<ul class="categories-list">
<% if services %>
  <% services.each do |service| %>
    <li
      class="categories-item"
      data-action="click->newForm2#showOffers"
      data-newForm2-target="service"
      style="background-image: linear-gradient(to top, rgba(10,10,10,0.4), rgba(10,10,10,0.2)), url('<%= service.image_url %>')"
      data-service-id="<%= service.id %>"
      data-service-name="<%= service.name %>"
    >
      <h4 class="categories-title"><%= service.name %></h4>
    </li>
  <% end %>
<% end %>
      <li
      class="categories-item <%= services.empty? ? "None" : services.first.offers.first.category.name.gsub(/\W/, '') %>"
      data-action="click->newForm2#createNewOffer"
      data-newForm2-target="service customService"
      data-service-id="custom"
    >
      <h4 class="categories-title">Custom...</h4>
    </li>
</ul>
