<h1>SUBSCRIPTION NAME </h1>
<p><%= @service.name %></p>

<h2>SUBSCRIPTION URL</h2>
<p><%= @service.url %></p>

<h2>SUBSCRIPTION Created At</h2>
<p><%= @service.created_at %></p>

<h2>SUBSCRIPTION Updated At</h2>
<p><%= @service.updated_at %></p>

<h2>SUBSCRIPTION image URL</h2>
<p><%= @service.image_url %></p>
