<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myra Reminder</title>
  </head>
  <body>
    <% subs = @user.subscriptions.select { |sub| (sub.renewal_date - sub.reminder_delay_days) == Date.today } %>

    <h1>Hi <%= @user.email %></h1>
      <% subs.each do |sub| %>
        <% offer = Offer.find(sub.offer_id) %>
        <p>Your subscription to <%= offer.service_name %> is about to renew !</p>
        <p> <%= offer.name %> / <%= sub.renewal_date %> </p>
        <%= link_to 'See subscription', subscription_url(sub) %>
    <% end %>
    <br>
    <%= link_to 'All your subscriptions', dashboard_url %>
  </body>
</html>
