<div class="budget-card">
  <div class="title-wrapper">
    <h4><%= budget.name %></h4>
    <div class="budget-amounts">
      <h6>Budget: <%= humanized_money_with_symbol budget.price_per_month %></h6>
      <% total_price = 0 %>
      <% budget.subscriptions.each do |sub| %>
        <% total_price += sub.price_per_day * 30 %>
      <% end %>
      <h6>Current: <%= humanized_money_with_symbol total_price %></h6>
    </div>
  </div>
  <h6><%=budget.subscriptions.count%> <%= "subscriptions".pluralize(2) %></h6>
</div>
