<% total_price = Money.new(0) %>
<% @budget.subscriptions.uniq.each do |sub| %>
  <% total_price += sub.price_per_day * 30 %>
<% end %>
<% progress_percent = ((total_price / @budget.price_per_month) * 100).round.to_i %>

<div class="budget-show-header">
  <div class="budgets-show" data-budgetShow-target="showPage">
    <%= render 'budgets/display_budget', budget: budget %>
  </div>
  <div class="budgets-edit hidden" data-budgetShow-target="editForm">
    <%= render 'budgets/edit_budget', budget: budget %>
  </div>
  <% if progress_percent > 100 %>
    <div class="progress-bar" style="background: #9b0e0e;">
      <p><%= humanized_money_with_symbol total_price %></p>
    </div>
  <% else %>
    <div class="progress-bar" style="background-image: linear-gradient(to right, #6644B8 <%=progress_percent%>%, #17082A <%=progress_percent%>%);">
      <p><%= humanized_money_with_symbol total_price %></p>
    </div>
  <% end %>
</div>
