<div class="new-budget-container" data-controller="subscriptionsList">
  <div class="budgets-header py-4">
    <h1 class="page-title">NEW BUDGET</h1>
  </div>

  <div class="new-budget-wrapper">
    <%= simple_form_for(@budget) do |f| %>
      <%= f.input_field :name, label: "Budget name", placeholder: "Budget name", class: "mb-3" %>
      <%= f.input_field :price_per_month, placeholder: "Budget per month", class: "my-3 budget-amount" %>
      <%= f.association :subscriptions,
                        input_html: {data: {subscriptionsList_target: "subscriptions"}},
                        wrapper_html: {class: "d-none"},
                        as: :check_boxes,
                        collection: @subscriptions
      %>
      <%= f.submit "Create budget", class: "my-3 ms-3 submit-btn" %>
    <% end %>
    <h6 class="mb-0 mt-2">Select subscriptions to add to budget <i class="fas fa-level-down-alt"></i></h6>
  </div>
  <ul class="budgets-wrapper new">
    <% @subscriptions.each do |subscription| %>
      <li data-action="click->subscriptionsList#toggleSub"><%= render 'subscriptions/subscription_card', subscription: subscription %></li>
    <% end %>
  </ul>
</div>
