<div class="new-budget-container" data-controller="subscriptionsList">
  <div class="budgets-header py-4">
    <h1 class="page-title">NEW BUDGET</h1>
  </div>

  <div class="new-budget-wrapper" data-subscriptionsList-target="formWrapper">
    <%= simple_form_for(@budget) do |f| %>
      <%= f.input_field :name,
                        label: "Budget name",
                        placeholder: "Budget name",
                        data: {subscriptionsList_target: "nameInput"},
                        class: "mb-3"
      %>
      <p class="error-message my-0 hidden" data-subscriptionsList-target="errorMessage">Please enter a budget name and price</p>
      <div class="input-with-btn">
        <div class="form-price-wrapper">
          <%= f.input_field :price_per_month,
                            placeholder: "Budget/month",
                            data: {subscriptionsList_target: "priceInput"},
                            class: "budget-amount"
          %>
          <span>€</span>
        </div>
        <%= f.association :subscriptions,
                          input_html: {data: {subscriptionsList_target: "subscriptions"}},
                          wrapper_html: {class: "d-none"},
                          as: :check_boxes,
                          collection: @subscriptions
        %>
        <div class="submit-btn" data-action='click->subscriptionsList#create_budget'>Create Budget</div>
      </div>
    <% end %>
    <h6 class="mb-0 mt-3">Select subscriptions to add to budget <i class="fas fa-level-down-alt"></i></h6>
  </div>
  <ul class="budgets-wrapper new">
    <% @subscriptions.each do |subscription| %>
      <li data-action="click->subscriptionsList#toggleSub"><%= render 'subscriptions/subscription_card', subscription: subscription %></li>
    <% end %>
  </ul>
</div>
