<section class="show-budget-wrapper" data-controller="budgetShow" data-budget_id="<%=@budget.id%>" data-budget_name="<%=@budget.name%>" data-budget_price="<%=@budget.price_per_month%>">
  <div>
    <div data-budgetShow-target="headerWrapper">
      <%= render 'budgets/show_header', budget: @budget %>
    </div>
    <div data-budgetShow-target='budgetSubs'>
      <%= render 'budgets/current_subscriptions_list', budget: @budget %>
    </div>
    <div class="hidden" data-budgetShow-target='userSubs'>
        <%= render 'budgets/new_subscriptions_list', budget: @budget, subscriptions: @subscriptions, filtered_subscriptions: @filtered_subscriptions %>
    </div>
  </div>
  <%= link_to budget_path(@budget),
                                  method: :delete,
                                  data: {
                                    confirm: "Are you sure you wish to delete this budget?",
                                    budgetShow_target: "deleteBtn"
                                  },
                                  class: "delete-btn hidden" do %>
    <p>Delete budget</p>
  <% end %>
</section>
