<% total_price = Money.new(0) %>
<% @budget.subscriptions.each do |sub| %>
  <% total_price += sub.price_per_day * 30 %>
<% end %>
<% progress_percent = ((total_price / @budget.price_per_month) * 100).round.to_i %>
<section class="show-budget-wrapper" data-controller="budgetShow">
  <div>
    <div class="budget-show-header">
      <div class="budgets-show">
        <%= render 'budgets/display_budget', budget: @budget %>
      </div>
      <div class="budgets-edit hidden" data-budgetShow-target="editForm">
        <%= render 'budgets/edit_budget', budget: @budget %>
      </div>
      <% if progress_percent > 100 %>
        <div class="progress-bar" style="background: #9b0e0e;">
          <p><%= humanized_money_with_symbol total_price %></p>
        </div>
      <% else %>
        <div class="progress-bar" style="background-image: linear-gradient(to right, #6644B8 <%=progress_percent%>%, #17082A <%=progress_percent%>%);">
          <p><%= humanized_money_with_symbol total_price %></p>
        </div>
      <% end %>
    </div>
    <ul class="budgets-wrapper show" data-budgetShow-target='budgetSubs'>
      <li class="new-sub-btn" data-action='click->budgetShow#display_new_subs_to_add'>+</li>
      <% unless @budget.subscriptions.empty? %>
        <% @budget.subscriptions.each do |subscription| %>
          <li>
            <%= link_to subscription_path(subscription) do %>
              <%= render "subscriptions/subscription_card", subscription: subscription %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <ul class="budgets-wrapper edit hidden" data-budgetShow-target='userSubs'>
      <li class="btn-submit edit" data-action='click->budgetShow#add_subs'>Add subscriptions</li>
      <% @filtered_subscriptions.each do |subscription| %>
        <li data-action="click->budgetShow#toggle_sub"><%= render 'subscriptions/subscription_card', subscription: subscription %></li>
      <% end %>
    </ul>
  </div>
  <%= link_to budget_path(@budget), method: :delete, data: { confirm: "Are you sure you wish to delete this budget?" }, class: "delete-btn" do %>
    <p>Delete budget</p>
  <% end %>
</section>
