<div class="container py-5">
 <h2> INFORMATIONS </h2>
  <div class="infos-cards">
    <h5> GLOBAL BUDGET </h5>
    <div class="infos-card">
      <h5><%= humanized_money_with_symbol current_user.global_budget %>/month</h5>
    </div>
     <h5> TOTAL EXPANSES </h5>
    <div class="infos-card">
      <h5><%= humanized_money_with_symbol user_monthly_spend %>/month</h5>
    </div>
    <h5> CATEGORIES </h5>
    <div class="infos-card">
      <ul>
        <% category_sums.each do |category| %>
          <% if category[1] > 0 %>
            <li><p><%= category[0] %>: <%= humanized_money_with_symbol category[1] %>/month</p></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <% unless user_budgets.length == 0 %>
      <h5> BUDGETS </h5>
      <div class="infos-card">
        <% user_budgets.each do |budget| %>
          <ul>
            <li><p><%= budget.name %>:  <%= humanized_money_with_symbol Money.new((budget.subscriptions.sum(:price_per_day_cents).to_f * 30)) %>/month</p></li>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
