<h1 class="page-title py-4"> Informations </h1>
<div class="infos-cards">
  <div class = "graph" data-controller="graph-circle" data-graph-circle-budget-value='<%= current_user.global_budget %>' data-graph-circle-amount-value="<%= user_monthly_spend %>">
      <div class="infos-card">
        <div class="infos-big-card">
          <div data-graph-circle-target="circle" style="width: 50%"></div>
          <div>
            <p><span id="expanses"></span>expenses</p>
            <p id="pbudget"><span id="budget"></span>budget(<%= humanized_money_with_symbol current_user.global_budget %>)</p>
          </div>
        </div>
        <% if user_monthly_spend > current_user.global_budget %>
          <div>
            <p class="budget_alert alert alert-danger" role="alert">
              You have surpassed your allocated budget by <br>
              <strong id="surpassed_expanses"><%= humanized_money_with_symbol (current_user.global_budget - user_monthly_spend) %></strong>
            </p>
          </div>
        <% end %>
        <% unless current_user.subscriptions.length == 0%>
          <div class="details">
              <h6><strong>Details</strong></h6>
              <ul>
                <% category_sums.each do |category| %>
                  <% if category[1] > 0 %>
                    <li><p><span class="name-infos"><%= category[0]%></span>  <span class="expenses-infos"><%= humanized_money_with_symbol category[1] %>/month</span></p></li>
                  <% end %>
                <% end %>
              </ul>
          </div>
        <% end %>
      </div>
      </div>
  <% unless user_budgets.length == 0 %>
    <div class="infos-card">
      <h6><strong>Budgets</strong></h6>
      <ul>
        <% user_budgets.each do |budget| %>
          <li><p><span class="name-infos"><%= budget.name %></span>  <span class="expenses-infos"> <%= humanized_money_with_symbol Money.new((budget.subscriptions.sum(:price_per_day_cents).to_f * 30)) %>/month</span></p></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
