<div class="text-center"><h1> INFORMATIONS </h1></div>
  <div class="info-card">
    <div class="carousel-wrapper">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-controller="show">
        <div class="carousel-inner">
          <div class="carousel-item" data-show-target="item">
            <h3>Global budget: <%= humanized_money_with_symbol current_user.global_budget %>/month</h3>
            <h3>Total expenses: <%= humanized_money_with_symbol user_monthly_spend %>/month</h3>
          </div>
          <div class="carousel-item" data-show-target="item">
            <h3> Expenses by category:</h3>
            <ul>
              <% category_sums.each do |category| %>
                <% if category[1] > 0 %>
                  <li><h6><%= category[0] %>: <%= humanized_money_with_symbol category[1] %>/month</h6></li>
                <% end %>
              <% end %>
            </ul>
          </div>
          <% unless user_budgets.length == 0 %>
            <div class="carousel-item" data-show-target="item">
              <h3>Expenses by budget:</h3>
              <% user_budgets.each do |budget| %>
                <ul>
                  <li><h6><%= budget.name %>:  <%= humanized_money_with_symbol Money.new((budget.subscriptions.sum(:price_per_day_cents).to_f * 30)) %>/month</h6></li>
                </ul>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="carousel-control carousel-control-prev" role="button" data-slide="prev" data-action="click->show#previous">
          <i class="fas fa-chevron-circle-left"></i>
        </div>
        <div class="carousel-control carousel-control-next" role="button" data-slide="next" data-action="click->show#next">
          <i class="fas fa-chevron-circle-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>
