<h1 class="page-title py-3"> Informations </h1>
<div class="infos-cards">
  <div class = "graph" data-controller="graph-circle" data-graph-circle-budget-value='<%= current_user.global_budget %>' data-graph-circle-amount-value="<%= user_monthly_spend %>">
      <div class="infos-card">
        <div class="infos-big-card">
          <div data-graph-circle-target="circle" style="width: 50%"></div>
          <div>
            <p><span id="expanses"></span>expenses</p>
            <p id="pbudget"><span id="budget"></span>budget</p>
          </div>
        </div>
        <div class="details">
            <h6><strong>Details</strong></h6>
            <ul>
              <% category_sums.each do |category| %>
                <% if category[1] > 0 %>
                  <li><p><span class="name-infos"><%= category[0]%></span>  <span class="expenses-infos"><%= humanized_money_with_symbol category[1] %>/month</span></p></li>
                <% end %>
              <% end %>
            </ul>
          </div>
      </div>
    </div>
  <% unless user_budgets.length == 0 %>
    <div class="infos-card">
      <h6><strong>Budgets</strong></h6>
      <% user_budgets.each do |budget| %>
        <ul>
          <li><p><span class="name-infos"><%= budget.name %></span>  <span class="expenses-infos"> <%= humanized_money_with_symbol Money.new((budget.subscriptions.sum(:price_per_day_cents).to_f * 30)) %>/month</span></p></li>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
