<div data-controller="change-dashboard">

<div class="nav-infos">
  <div class="btn btn-info" data-action="click->change-dashboard#hidden">Infos</div>
  <%= link_to settings_path do  %>
    <i class="fas fa-cog settings"></i>
  <% end %>
</div>

  <div class="" data-change-dashboard-target="board" >
    <% current_user.subscriptions.each do |subscription| %>
        <%= render "subscriptions/subscription_card", subscription: subscription %>
    <% end %>
  </div>






  <div class="d-none" data-change-dashboard-target="board">
    <div class="info-card-wrapper">
      <h1> INFORMATION </h1>
      <div class="info-card">
        <div class="info-card-title">Entertainment</div>
        <h3><%= humanized_money_with_symbol @user_monthly_spend %>/month</h3>
        <br>
        <h3><%= humanized_money_with_symbol @user_yearly_spend %>/year</h3>
        <ul>
          <% @category_sums.each do |category| %>
            <% if category[1] > 0 %>
              <li><%= category[0] %>: <%= humanized_money_with_symbol category[1] %>/month</li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
