
<div class="d-flex row col ls-6 justify-content-center">
  <% @user_subscriptions.each do |subscription| %>
      <%= render "shared/circle-logo", subscription: subscription %>
  <% end %>
</div>


<div class="d-none">
  <br>
  <h3>Total Spent: <%= humanized_money_with_symbol @user_monthly_spend %>/month</h3>
  <br>
  <h4>Monthly spend by category</h4>
  <ul>
    <% @category_sums.each do |category| %>
      <% if category[1] > 0 %>
        <li><%= category[0] %>: <%= humanized_money_with_symbol category[1] %>/month</li>
      <% end %>
    <% end %>

  </ul>
  <h3>Upcoming payments</h3>
  <ul>
    <% @my_next_in_payment_subscriptions.each do |subscription| %>
      <%= link_to subscription_path(subscription) do %>
        <div class="card-product my-3", style="width: 500px">
          <img src="<%= subscription.image_url %>"  />
          <div class="card-product-infos d-flex justify-content-between w-100">
            <h2><%= subscription.offer.service_name %></h2>
            <% renewal_date = (subscription.renewal_date - Date.today).to_i %>
            <% if renewal_date > 30 %>
              <h2> <%= time_ago_in_words(subscription.renewal_date) %> </h2>
            <% else %>
              <h2><%= renewal_date %> <%= "day".pluralize(2) %> </h2>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>
