<div class="container">
  <%= render 'shared/circle-logo' %>
  <%= render 'shared/button' %>
  <%= render 'shared/card-service' %>
  <h1 style="color: white;">Myra</h1>
  <br>
  <%= link_to "Dashboard", dashboard_path %>
  <br>
  <%= link_to "Add your first subscription", new_subscription_path %>
</div>
