<div class="hidden" id="real-form">
  <%= simple_form_for(subscription) do |f| %>
    <%= f.simple_fields_for :offers, subscription.offer do |o| %>
      <%= o.input :service_id,
                  input_html: {
                    data: {
                      newForm2_target: "serviceInput",
                    }
                  }
      %>
      <%= o.input :name,
                  input_html: {
                    data: {
                      newForm2_target: "offerNameInput"
                    }
                  }
      %>
      <%= o.input :price_cents,
                  input_html: {
                    data: {
                      newForm2_target: "priceInput"
                    }
                  }
      %>
      <%= o.input :frequency,
                  input_html: {
                    data: {
                      newForm2_target: "frequencyInput"
                    }
                  }
      %>
      <%= o.input :category_id,
                  input_html: {
                    data: {
                      action: "click->newForm#showServices",
                      newForm2_target: "categoryInput"
                    }
                  }
      %>
    <% end %>
      <%= f.input :offer_id,
                  input_html: {
                    data: {
                      newForm2_target: "offerIdInput"
                    }
                  }
      %>

      <%= f.input :additional_info,
                  input_html: {
                    data: {
                      newForm2_target: "additionalInfoInput"
                    }
                  }
      %>
      <%= f.input :renewal_date,
                  as: :string,
                  input_html: {
                    data: {
                      newForm2_target: "renewalDateInput"
                    }
                  }
      %>
      <%= f.input :reminder_delay_days,
                  input_html: {
                    data: {
                      newForm2_target: "reminderDelayDaysInput"
                    }
                  }
      %>
      <%= f.submit "submit", id: "submitFormBtn"
      %>
  <% end %>
</div>

<div class="form-wrapper">
  <div class="form-section" id="form-part-one" data-newForm2-target="formPartOne">
    <div id="select-category">
        <%= render 'offers/categories_list', categories: @categories %>
    </div>
    <div id="select-service" data-newForm2-target="selectService"></div>
    <div id="select-offer" data-newForm2-target="selectOffer"></div>
    <div id="custom-offer" data-newForm2-target="displayNewOffer"></div>
    <div class="section-buffer"></div>
  </div>
  <div class="form-section hidden-two" id="form-part-two" data-newForm2-target="formPartTwo"></div>
</div>
