<div class="form-wrapper hidden">
  <%= simple_form_for(subscription) do |f| %>
    <%= f.simple_fields_for :offers, subscription.offer do |o| %>
      <%= o.input :category,
                  label: "Subscription category",
                  wrapper_html: {
                    class: 'hidden'
                  },
                  input_html: {
                    data: {
                      action: "click->newForm#showServices",
                      newForm2_target: "categoryInput"
                    }
                  }
      %>
      <%= o.input :name,
                  label: "Service Name",
                  wrapper_html: {
                    class: 'hidden'
                  },
                  input_html: {
                    data: {
                      newForm2_target: "serviceInput"
                    }
                  }
      %>
      <%= o.input :price_cents,
                  wrapper_html: {
                    class: 'hidden'
                  },
                  label: "How much does it cost?",
                  input_html: {
                    data: {
                      newForm2_target: "priceInput"
                    }
                  }
      %>
      <%= o.input :frequency,
                  collection: Offer::PERIODS,
                  wrapper_html: {
                    class: 'hidden'
                  },
                  label: "How often is the payment?",
                  input_html: {
                    data: {
                      newForm2_target: "frequencyInput"
                    }
                  }
      %>
    <% end %>
      <%= f.input :additional_info,
                        label: "Additional Info",
                        wrapper_html: {
                          class: 'hidden'
                        },
                        placeholder: "Additional Info"
      %>
      <%= f.input :renewal_date,
                        wrapper_html: {
                          class: 'hidden'
                        },
                        label: "Renewal Date"
      %>
      <%= f.submit "submit" %>
  <% end %>
</div>

<div id="select-category">
    <%= render 'offers/categories_list', categories: @categories %>
</div>
<div id="select-service" data-newForm2-target="selectService">
</div>
<div id="select-offer" data-newForm2-target="selectOffer">
</div>
<div id="custom-offer" data-newForm2-target="displayNewOffer">
</div>
