<h3><%= current_user.email%> Subscriptions.</h3>
<h5>Budget: <%= humanized_money_with_symbol current_user.global_budget %> / month (current: <%= humanized_money_with_symbol @user_monthly_spend %>)</h5>
<ul class="d-flex">
  <% @subscriptions.each do |subscription| %>
    <li class="list-group-item list-group-item-action" style="width: 350px;">
      <%= link_to subscription_path(subscription) do %>
        <div class="card-product">
          <img src="<%= subscription.image_url %>" />
          <div class="card-product-infos">
            <h2><%= subscription.offer.service_name %></h2>
            <p><%= humanized_money_with_symbol subscription.offer.price %> <%= subscription.offer.frequency %></p>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
