  <%= simple_form_for @subscription do |f| %>
  <%= render "offers/new_offer", subscription: @subscription, offer: @offer %>
    <%= f.input :renewal_date, label: "When will your next payment be" %>
    <%= f.input :reminder_delay_days, label: 'When do you want to be notified about your next payment' %>
    <%= f.input :url, label: "A quick link to the homepage of your subscription website" %>
    <%= f.input :image_url, label: "Chose a logo for your subscription" %>
    <%= f.input :additional_info, label: "Something to add?" %>
    <%= f.submit "Subscription, Activate!" %>
  <% end %>
  <br>
  <%= link_to "Back", "/subscriptions" %>
</div>
