<div class="container">
  <div class="card-subscription">
    <%= link_to @subscription.url do%>
      <div class="card-img">
        <img src=<%= @subscription.image_url %>>
      </div>
    <% end %>
    <div class="card-body">
      <%= render 'shared/card-details',
          icon: "💳",
          type: "Offer",
          data: @subscription.offer.name
      %>
      <%= render 'shared/card-details',
          icon: "📆",
          type: "Renewal Date",
          data: @subscription.renewal_date
      %>
      <%= render 'shared/card-details',
          icon: "💰",
          type: "Price",
          data: "#{humanized_money_with_symbol @subscription.offer.price} #{@subscription.offer.frequency}"
      %>
      <%= render 'shared/card-details',
          icon: "🛎",
          type: "Remind me by ",
          data: "#{pluralize(@subscription.reminder_delay_days, "day")} before"
      %>
    </div>
    <div class="card-buttons-wrapper">
      <div class="card-buttons">
        <%= link_to "Delete", subscription_path(@subscription), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-red-delete" %>
      </div>
    </div>
  </div>
</div>
