<%# <div class="container"> %>

  <div class="banner" style="background-image:  linear-gradient(360deg, #17092A 0%, rgba(23, 9, 42, 0) 100%), url('<%= @subscription.image_url %>')">
  <h1><%= @subscription.offer.service_name %></h1>
  <p style="color: grey;"><%= @subscription.offer.category.name %> service</p>
  </div>


  <div class="card">
  <div class="card-icon">
  <i class="fas fa-money-bill-alt"></i>
  </div>
  <div class="card-text"><%=@subscription.offer.name%>
  <%= @subscription.offer.price %>€ /month
  </div>
  </div>

  <div class="card">
  <div class="card-icon">
  <i class="fas fa-bullhorn"></i>
  </div>
  <div class="card-text"> until <%= @subscription.renewal_date %>
  </div>
  </div>

  <div class="card">
  <p>remind me by </p>
  </div>


  <div class="btn-delete d-flex justify-content-around">
  <%= link_to "Ok", dashboard_path, class: "btn btn-delete" %>
  <%= link_to "Delete", subscription_path(@subscription), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-delete" %>
  </div>
