<div class="container">
  <div class="card-subscription">
    <div class="card-img">
      <img src=<%= @subscription.image_url %>>
    </div>
    <div class="card-body">
      <%= render 'shared/card-details',
          icon: "icon",
          type: "offer",
          data: @subscription.offer.name
      %>
      <%= render 'shared/card-details',
          icon: "icon",
          type: "price",
          data: "#{humanized_money_with_symbol @subscription.offer.price} #{@subscription.offer.frequency}"
      %>
      <%= render 'shared/card-details', 
          icon: "icon", 
          type: "Remind me", 
          data: "#{pluralize(@subscription.reminder_delay_days, "day")} before" 
      %>
      <hr>
      <p class="text-muted"><%= @subscription.additional_info %></p>
      <%= link_to "visit website", @subscription.url, class: "btn btn-outline-primary" %>
    </div>
  </div>
  <div>
    <%= link_to "Done", subscriptions_path, class: "btn btn-primary" %>
  </div>
</div>
