<h2 class="text-center my-3">Which offer do you have?</h2>
<ul class="categories-list">
  <% offers.each do |offer| %>
    <li
      class="categories-item <%= offer.category.name.gsub(/\W/, '') %>"
      data-action="click->newForm2#createNewOffer"
      data-offer-name="<%= offer.name %>"
      data-offer-price="<%= offer.price %>"
      data-offer-id="<%= offer.id %>"
      data-offer-frequency="<%= offer.frequency %>"
    >
      <h4 class="categories-title"><%= offer.name %></h4>
    </li>
  <% end %>
  <li
      class="categories-item <%= offers.first.category.name.gsub(/\W/, '') %>"
      data-action="click->newForm2#createNewOffer"
      data-newForm2-target="customOffer"
    >
      <h4 class="categories-title">Custom...</h4>
    </li>
</ul>
