<!DOCTYPE html>
<html>
  <head>
    <title>Myra</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
<%# # navbar must be outside container %>
  <body>
    <div class="container content-wrapper">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
    <% if controller_name == "subscriptions" && controller.action_name == "index" %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
